.buttons {
  margin: 0;
  flex: 1;
  flex-flow: row;
  button {
    position: relative;
    display: inline-block;
    border: 0;
    margin: 5px 5px;
    padding: 2rem;
    border-radius: 50%;
    line-height: 0;
    transition: $base-in-duration $base-in-timing;
    background: rgba(0,0,0,0.2);
    svg {
      color: $action-color;
      transition: $base-in-timing $base-in-duration;
    }
    &:hover {
      box-shadow: 2px 3px 10px rgba($black,1);
      svg {
        color: darken($action-color, 25%);
      }
    }
  }
  @media screen and (max-width: 768px) {
    button {
      margin: 0 2px;
      padding: 1rem;
    }
  }
}
.button {
  cursor: pointer;
  transition: $base-in-timing $base-in-duration;
  line-height: 0;
  &:hover {
    box-shadow: 2px 5px 15px $base-font-color;
  }
  p {
    margin: 0;
    padding: 1rem;
    text-align: center;
    @media screen and (max-width: 768px) {
      letter-spacing: 1px;
    }
  }
}
