.invisible {
  transform: translate3d(0,0,0);
  opacity: 0;
  transition: $base-out-duration $base-out-timing;
}
.visible {
  transform: translate3d(0,0,0);
  transition: $base-in-duration $base-in-timing;
  opacity: 1;
}
.fade-enter {
  transform: translate3d(0,0,0);
  opacity: 0;
  z-index: 1;
  flex: 0;
  transition: $base-in-timing $base-in-duration;
}
.fade-enter.fade-enter-active {
  transform: translate3d(0,0,0);
  opacity: 1;
  flex: 1;
  transition: opacity $base-in-duration $base-in-timing;
}
.fadeIn{
  transform: translate3d(0,0,0);
  transition: $base-in-timing $base-in-duration*2;
  opacity: 1;
  display: flex;
  max-height: 50rem;
  background: rgba(0,0,0,0);
}
.fadeOut {
  transform: translate3d(0,0,0);
  transition: $base-in-timing $base-in-duration*2;
  opacity: 0;
  visibility: 0;
  display: flex;
  max-height: 0;
  box-sizing: border-box;
  box-shadow: 0;
  background: rgba(0,0,0,0);
}
a, a h3 {
  transform: translate3d(0,0,0);
  transition: 150ms ease-out;

  &:hover {
    transform: translate3d(0,0,0);
    transition: 100ms ease-in;
  }
  &:hover h3 {
    transform: translate3d(0,0,0);
    transition: 100ms ease-in;
    color: lighten($secondary-font-color, 5%);
  }
}
