.calendar {
  width: 100%;
  @media screen and (max-width: 768px){
    padding-left: 0;
    padding-right: 0;
  }
  .events {
    width: 100%;
    max-width: 100ch;
    @media screen and (max-width: 768px){
      padding-left: 0;
      padding-right: 0;
    }
    .eventsWrapper {
      .fadeInWrap {
        &:nth-child(odd){
          p,h2,h3{
            color: darken($secondary-font-color, 15%);
          }
        }
        &:nth-child(even){
          background: lighten($secondary-background-color, 10%);
          p,h2,h3{
            color: $secondary-font-color;
          }
        }
      }
      .eventsContainer {
        @media screen and (max-width: 768px){
          flex-direction: column;
        }
        padding: 2rem;
        width: 100%;
        p,h2,a,h3 {
          margin: 0;
          padding: 0;
        }
        p {
          @media screen and (max-width: 768px) {
            font-size: 0.9rem;
          }
        }
        h2 {
          @media screen and (max-width: 768px) {
            font-size: 1.4rem;
          }
        }
        .timeContainer {
          align-self: center;
          padding-right: 2.5rem;
          @media screen and (max-width: 768px){
            align-self: flex-start;
          }
        }
        .descriptionContainer {
          align-self: center;
          width: 100%;
          a {
            color: $action-color;
            &:hover {
              color: darken($action-color, 25%);
            }
          }
          .cancelled {
            color: darken($secondary-font-color, 25%);
          }
        }
      }
    }

    .buttons {
      .button {
        margin: 0 1rem;
        border-radius: 2px;
        box-shadow: 0;
        border-bottom: 1px solid transparent;
        h3 {
          color: darken($secondary-font-color, 30%);
          box-shadow: 0;
        }
        &:hover h3 {
          color: $action-color;
          box-shadow: 0 0 0 0;
        }
        &:hover {
          box-shadow: 0 0 0 0;
          border-bottom: 1px solid $action-color;
        }
      }
      .active {
        border-bottom: 1px solid $action-color;
        h3 {
          color: $action-color;
        }
      }
      .eventButton {
        margin: 0;
        margin-top: 2rem;
        text-align: center;
        display: inline-flex;
        align-self: center;
      }
    }
  }
}
