.contact {
  max-height: 100%;
  overflow: hidden;
  .contactInfo {
    height: 100%;
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    h3, p, svg,a{
      color: $secondary-font-color;
      padding: 0;
      margin: 0;
      text-align: left;
    }
    h3 {
      font-size: 100%;
      padding: 1rem 0rem 1rem 1rem;
    }
    a,h3 {
      &:hover svg, &:hover h3 {
        color: $action-color;
      }
    }
    svg {
      transition: $base-in-duration $base-in-timing;
    }
    .contactInfoWrapper {
      display: flex;
      align-items: flex-start;
      text-align: left;
    }
  }
}
