.contact {
  overflow: hidden;
  background: $footer-background-color;
  height: 800px;
  @media screen and (max-width: 768px){
    height: 600px;
  }
  .contactInfo {
    z-index: 1;
    justify-content: flex-end;
    align-items: center;
    text-align: left;
    h3, p, svg,a{
      color: $secondary-font-color;
      padding: 0;
      margin: 0;
      text-align: left;
    }
    h3 {
      padding: 1rem 0rem 1rem 1rem;
      @media screen and (max-width:768px){
        font-size: 0.9rem;
      }
    }
    a,h3 {
      &:hover svg, &:hover h3 {
        color: $action-color;
      }
    }
    svg {
      transition: $base-in-duration $base-in-timing;
    }
    .contactInfoWrapper {
      display: flex;
      align-items: flex-start;
      text-align: left;
    }
  }
}
