.rolesList {
  width: 100%;
  .roleWrapper {
    padding-top: 0;
    padding-bottom: 0;
    @media screen and (max-width: 768px) {
      padding-bottom: $mobile-padding-y;
    }
  }
  h1,h2,h3,h4 {
    color: $secondary-font-color;
  }
  h1 {
    display: none;
  }
  h2 {
    text-transform: uppercase;
    letter-spacing: 5px;
  }
  h3,h4 {
    margin: 0;
    padding: 0;
  }
  h3 {
    font-size: 150%;
    color: darken($action-color, 15%);
  }
  h4 {
    padding-bottom: 1rem;
  }
  .role {
    border-bottom: 1px solid $secondary-font-color;
    padding: 2rem 0;
  }
}


.frontRoles {
  position: relative;
  overflow: hidden;
  z-index: 1;
  background: #493036;
  .frontRolesListWrapper{
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: column;
    width: 100%;
    padding-bottom: 0;
    align-items: flex-start;

    @media screen and (max-width: 768px) {
      font-size: 70%;
      flex-wrap: nowrap;
      flex-direction: column;
      padding-bottom: $mobile-padding-y;
    }
    section {
      margin: 1.66rem 0;
      padding-bottom: 0.8rem;
      border-bottom: 1px solid $white;
      text-align: left;
      &:last-of-type {
        border-bottom: 0;
      }
      h4, h5, p {
        text-align: left;
        color: $white;
        margin: 0;
        line-height: 1;
        padding: 0;
        padding-top: 0.5rem;
      }
      h4 {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.2rem;
        font-weight: 700;
        color: $action-color;
        margin: 0;
        padding: 0;
      }
    }
  }
}
