.image {
  overflow: auto;
  width: 100%;
  min-height: 100%;
  min-height: -webkit-fill-available;
  min-height: -moz-available;
  padding-bottom: 0;
  margin-left: auto;
  margin-right: auto;
  .imgWrap {
    width: 60%;
    overflow: hidden;
    @media screen and (max-width: 768px) {
      width: 100%;
    }
  }
  h2,svg,a {
    color: $action-color;
    transition: $base-in-timing $base-in-duration;
  }
  h2 {
    margin: 0;
    @media screen and (max-width: 768px){
      padding-top: 1rem;
      font-size: 100%;
    }
  }
  p {
    @media screen and (max-width: 768px){
      font-size: 70%;
    }
  }
  p, h2, h3 {
    color: $action-color;
    text-align: left;
  }
  h3 {
    font-size: 100%;
    @media screen and (max-width: 768px){
      font-size: 80%;
    }
  }
  .buttons {
    padding: 3rem 1rem;
    background: $footer-background-color;
    margin-top: -4px;
    width: 100%;
    h2,h3,h4,p {
      line-height: 1;
      margin: 0;
      padding: 0;
    }
    a {
      margin: 0;
    }
    .button {
      padding: 0.5rem;
      border-radius: 50%;
      &:hover {
        background: darken($footer-background-color,5%);
        svg {
          color: darken($action-color,25%);
        }
      }
    }
    .imgTextWrap {
      align-self: center;
    }
  }
}
