.frontRoles {
  z-index: 1;
  background: #493036;
  .frontRolesListWrapper{
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: row;
    max-width: 80%;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      font-size: 70%;
      flex-wrap: nowrap;
      flex-direction: column;
      padding-bottom: $mobile-padding-y;
    }
    section {
      flex: 0 1 auto;
      margin: 0;
      padding: 2rem;
      background: #493036;
      justify-content: center;
      text-align: left;
      @media screen and (max-width: 768px) {
        padding: 1.5rem;
      }
      h5, h6, p {
        color: $white;
        margin: 0;
        line-height: 1;
      }
      h6 {
        color: $sec-font-color;
      }
    }
  }
}
