.image-gallery-content:not(.fullscreen) {
  overflow: hidden;
  .image-gallery-slide {
    background: black;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
     img {
      height: 100%;
      max-height: 100vh;
      width: auto;
      @media screen and (max-width: 768px) {
        height: 50%;
        max-height: 50vh;
      }
    }
  }
}
#frontGallery {
  a {
    color: white;
    transition: $base-in-timing $base-in-duration;
    &:hover {
      color: darken($sec-font-color, 15%);
    }
  }
}
.fullscreen {
  .image-gallery-fullscreen-button {
    position: fixed;
  }
  .image-gallery-slide {
    width: 100vw;
     img {
       height: 100vh;
       width: auto;
     }
   }
}
.image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
 color: $sec-font-color;
}
