.frontRoles {
  z-index: 1;
  background: #493036;
  .frontRolesListWrapper{
    flex-flow: column;
    flex-wrap: wrap;
    flex-direction: column;
    max-width: 80%;
    padding-bottom: 0;
    @media screen and (max-width: 768px) {
      max-width: 100%;
      font-size: 70%;
      flex-wrap: nowrap;
      flex-direction: column;
      padding-bottom: $mobile-padding-y;
    }
    section {
      margin: 1.66rem 0;
      padding-bottom: 0.8rem;
      border-bottom: 1px solid $white;
      @media screen and (max-width: 768px) {
      }
      &:last-of-type {
        border-bottom: 0;
      }
      h4, h5, p {
        color: $white;
        margin: 0;
        line-height: 1;
        padding: 0;
        padding-top: 0.5rem;
      }
      h4 {
        color: $white;
        text-transform: uppercase;
        letter-spacing: 0.5rem;
        font-weight: 700;
        color: lighten($olive, 25%);
        margin: 0;
        padding: 0;
      }
    }
  }
}
