.image-gallery-content:not(.fullscreen) {
  overflow: hidden;
  .image-gallery-slide {
    background: $base-background-color;
    overflow: hidden;
    display: flex;
    justify-content: center;
    flex-direction: column;
    align-items: center;
    height: 100%;
    min-height: 100vh;
    max-height: 100vh;
     img {
      height: 100%;
      max-height: 100vh;
      width: auto;
      padding: $base-padding-y $base-padding-x;
      @media screen and (max-width: 768px) {
        height: 100%;
        max-height: 100vh;
        padding: $mobile-padding-y $mobile-padding-x;
      }
    }
  }
}
#downloadImageButton {
  display: block;
  color: $base-font-color;
  transition: $base-in-timing $base-in-duration;
  &:hover {
    color: darken($sec-font-color, 15);
  }
}
.fullscreen {
  .image-gallery-fullscreen-button {
    position: fixed;
  }
  .image-gallery-slide {
    width: 100vw;
     img {
       height: 100vh;
       width: auto;
     }
   }
}
.image-gallery-fullscreen-button::before{
  color: $base-font-color;
}
.image-gallery-fullscreen-button:hover::before, .image-gallery-play-button:hover::before, .image-gallery-left-nav:hover::before, .image-gallery-right-nav:hover::before {
 color: $sec-font-color;
 border: 0;
 text-shadow: 0;
 transform: scale(1);
}
