.frontBio {
  background: #1E1D22;
  background: #323949;
  color: $secondary-font-color;
  .contactList {
    padding-top: $base-padding-y;
    a {
      padding: 0 0.5rem;
    }
  }
  div {
    z-index: 1;
  }
  article {
    padding-bottom: 0;
    @media screen and (max-width: 768px) {
      padding-bottom: $mobile-padding-y/2;
    }
    p {
      max-width: 70ch;
      hyphens: none;
      flex: 1;
      letter-spacing: 1px;
      text-align: justify;
      color: inherit;
    }
    h1, h2, h4 {
      line-height: 1;
      color: $secondary-font-color;
    }
    h1 {
      font-weight: 700;
      margin: 0;
      text-align: center;
      font-size: 2rem;
      letter-spacing: 0.2rem;
      padding-top: 0;
    }
    h2 {
      margin: 0;
      padding-top: 0.5rem;
      font-size: 1.5rem;
      letter-spacing: 0.1rem;
      color: darken($white, 30%);
    }
    h3 {
      margin: 0;
    }
    a:hover {
      color: darken($secondary-font-color, 15%);
    }
    @media screen and (max-width: 768px) {
      p {
        font-size: 0.7em;
      }
      h1 {
        font-size: 1.2em;
      }
      h2 {
        font-size: 1em;
      }
      h3 {
        font-size: 0.7em;
      }
      h4 {
        font-size: 0.6em;
      }
    }
  }
}
