.galleryImages {
  height: 100%;
  width: 100%;
  display: flex;
  flex-wrap: wrap;
  flex-direction: row;
  > .flex {
    margin: 0 8px 8px 0; /* Some gutter */
    width: 20%;
    flex: 1 1 auto;
    img {
      height: 100%;
    }
    p {
      padding-bottom: 0.2rem;
      margin: 0;
      margin-top: 1rem;
      text-align: center;
    }
  }
}
