.homeNav {
  top: 0;
  color: $white;
  width: 100%;
  background: transparent;
  position: absolute;
  padding: 0 4rem;
  z-index: 2;
  @media screen and (max-width: 768px) {
    font-size: 70%;
  }
  a {
    margin: 1rem 0.5rem;
  }
  h3, p {
    transition: $base-in-timing $base-in-duration;
    padding: 1rem 0.5rem;
    margin: 0;
    font-weight: 100;
    line-height: 1;
    color: $secondary-font-color;
    letter-spacing: 0px;
    font-size: 90%;
    &:hover {
      color: darken($secondary-font-color, 25%);
    }
  }
  p {
    margin-top: 5rem;
  }
}
.nav {
  width: 100%;
  position: fixed;
  z-index: 2;
  transition: $base-in-timing $base-in-duration;
  ul {
    padding-left: 0;
    margin: 0;
    align-items: center;
    height: 5rem;
    justify-content: center;
  }

  h3 {
    transition: 0.225s ease-in;
    margin: 0;
    font-weight: 700;
    line-height: 0;
    font-size: 130%;
    padding: $base-padding-y/3 0.3rem;
    color: $secondary-font-color;
    &:hover {
      color: darken($secondary-font-color, 25%);
    }
    @media screen and (max-width: 768px){
      padding: $mobile-padding-y/2 0.3rem;
      font-size: 90%;
    }
  }
}
.nav.navBackground {
  transition: $base-out-timing $base-out-duration*2;
  background: $white;
  h3 {
    color: darken($secondary-font-color, 50%);
  }
  .activeNav {
    h3 {
      color: $action-color;
    }
  }
}
.activeNav {
  h3{
    color: $action-color;
  }
}
